*
{
    margin: 0
    padding: 0
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #000000, #2B2828);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler
{
    outline: none;
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #444040;
}

.grid {
    display: grid;
    place-items: center;
}

/*-----------Home----------*/
.body-home 
{
    font-family: sans-serif;
    background-image: url("images/Banners/Home.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.introduction {
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------About----------*/
.body-about 
{
    font-family: sans-serif;
    background-image: url("images/Banners/About.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutme-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------Games----------*/
.body-games 
{
    font-family: sans-serif;
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#games-list
{
    padding: 80px 0;
}
.game-img
{
    width: 100%;
    margin-top: 20px;
}
.game-txt {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

/*-----------Contact----------*/
.body-contact {
    font-family: sans-serif;
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-----------Cookie Policy----------*/
/*.cookie-policy
{
    color:black;
}

.cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    padding-top: 7px;
    width: 600px;
}*/
